<div id="show">
  <% if @asset.data.type == 'video' %>

  <h2>Video</h2>

  <video id="my_video_1" class="video-js vjs-default-skin" controls
  preload="auto" width="640" height="264" poster="<%= @asset.data.thumbnail %>"
  data-setup="{}">
  <source src="<%= @asset.data.url %>" type='video/mp4'>
  </video>

  <% else %>

  <%= image_tag(@asset.data.url) %>

  <% end %>
</div>
