/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body                     { padding: 0 !important; margin: 0px; text-align:center; font-family: Arial; }

 ul                       { margin: 0px; list-style: none; padding: 0px; }

 *, :before, :after       { -moz-box-sizing: border-box; box-sizing: border-box; }

 a:visited,
 a                        { text-decoration: none; color: #000; font-weight: bold; margin: 10px 0px;}
 a.btn-primary            { color: #fff !important; }

 .xleft                   { float: left; }
 .xright                  { float: right; }
 .xclear                  { clear: both; }

 .rightcontent            { width: 35%; float: right; }
 .leftcontent             { width: 35%; float: left; }
 .content                 { width: 1100px; margin: 0 auto; }

 input[type=email],
 input[type=password]     { height: 30px; width: 400px; }

 textarea                 { width: 380px !important; height: 140px !important; }

 form.new_user            { text-align: left; width: 400px; margin: 0 auto; padding: 30px 0px 10px 0px;}

 header                   { background: #141414; height: 72px; background-position: center 0px; }
 header ul#right-links    { float: right; }
 header ul                { margin-top: 25px; }
 header ul li             { display: inline; margin-right: 15px; }
 header ul li a           { color: #8e8e8e !important; font-size: 12px; margin-top: -20px;}
 header ul li a:hover     { color: #ffffff; }
 header #usa-flag         { margin-top: -7px; }

 #banner                  { background-image: url('/assets/header.jpg'); height: 393px; background-position: center 0px; }
 #banner .ban-content     { padding: 80px 0 0 0; margin: 0 auto; color: #fff; font-family: "Pathway Gothic One",sans-serif; text-align:left;}
 #banner .ban-content span{ display: inline-block; font-family: "Pathway Gothic One",sans-serif;
                            font-size: 45px; text-transform: uppercase;
                            width: 160px; padding-bottom: 30px; border-bottom: 2px solid #ccc; }
 #banner .ban-content p   { margin-top: 20px; color: #f0f0f0; }
 #banner .ban-upload      { color: #fff; font-family: "Pathway Gothic One",sans-serif; }
 #ban-links a             { display: inline-block; margin-right: 5px; margin-top: 10px;
                            width: 175px; height: 50px; background-color: #fff;
                            color: #000; text-align: center; text-decoration: none;
                            text-transform: uppercase; font-size: 15px;
                            font-family: "Pathway Gothic One",sans-serif; line-height: 50px; }
#ban-links .ban-upload      { background-color: #21b81d; color: #fff; }

 div#prearea h3           { margin: 100px 0; }
 div#prearea ul           { margin-left: 0px; }
 div#prearea li           { float: left; border-right: 1px solid #f1f1f1; padding: 0px 10px; }
 div#prearea li.last      { border-right: none; }
 div#prearea li a         { color: #000; font-size: 10px; font-weight: normal;}
 div#prearea h2           { margin-top: 50px; margin-bottom: 10px; text-align: center;
                            text-transform: uppercase; font-weight: 700;
                            font-size: 50px;
                            font-family: "Pathway Gothic One",sans-serif;
                            line-height: 40px;
                          }
div#prearea p             { margin-bottom: 120px; }

 div#gallery              { background: #eeeeee; width: 100%; margin-top: 20px; padding-top: 20px;}
 div#gallery ul           { margin: 20px 0px; }
 div#gallery ul li        { background: #fff; padding: 10px; border: 1px solid #dcdcdc;
                            margin: 0px 17px 17px 0px; float: left; color: #484848; font-size: 11px; text-align: left; }

footer                    { height: 592px; background-image: url('/assets/footer.png'); background-position: center 0px; }

.signup                   { margin-top: 25px; }

#error_explanation h2     { font-size: 12px !important; }

.form-signin              { max-width: 400px; padding: 19px 29px 29px; margin: 0 auto 20px;
                            background-color: #fff; border: 1px solid #e5e5e5;
                            -webkit-border-radius: 5px; -moz-border-radius: 5px;
                            border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); box-shadow: 0 1px 2px rgba(0,0,0,.05);
                            text-align: left; }

.form-signin input[type="checkbox"] { margin-right: 10px; }

.form-signin textarea      { width: 335px !important; }
.form-signin input[type="email"],
.form-signin input[type="password"] { font-size: 16px; height: auto; width: 335px;
                                      margin-bottom: 15px; padding: 7px 9px;
                                    }

.modal                    { width: 700px !important; }

#filter input             { padding: 0 20px 0 8px; width: 200px; height: 28px; float: right;
                            border: 0; background-color: #eee; color: #000; font-size: 12px; }

span#hashtag              { color: #aaa; font-size: 20px;}
span#powered              { float: right; color: #cdcdcd; font-size: 14px; text-decoration: none;}


