/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body                     { padding: 0 !important; margin: 0px; text-align:center; font-family: Arial; }

 ul                       { margin: 0px; list-style: none; padding: 0px; }

 a:visited,
 a                        { text-decoration: none; color: #000; font-weight: bold; margin: 10px 0px;}
 a.btn-primary            { color: #fff !important; }

 .xleft                   { float: left; }
 .xright                  { float: right; }
 .xclear                  { clear: both; }

 .rightcontent            { width: 35%; float: right; }
 .leftcontent             { width: 35%; float: left; }
 .content                 { width: 1100px; margin: 0 auto; }

 input[type=email],
 input[type=password]     { height: 30px; width: 400px; }

 textarea                 { width: 380px !important; height: 140px !important; }

 form.new_user            { text-align: left; width: 400px; margin: 0 auto; padding: 30px 0px 10px 0px;}

 header                   { background: #141414; height: 72px; background-position: center 0px; }
 header ul#right-links    { float: right; margin-right: 105px; }
 header ul                { margin-top: 25px; }
 header ul li             { display: inline; margin-right: 15px; }
 header ul li a           { color: #8e8e8e !important; font-size: 12px; margin-top: -20px;}
 header ul li a:hover     { color: #ffffff; }
 header #usa-flag         { margin-top: -7px; }

 #banner                  { background-image: url('/assets/header.jpg'); height: 395px; background-position: center 0px; }
 #banner #ban-links       { margin: 0 auto; padding: 250px 0px 0px 605px; }

 div#prearea h3           { margin: 100px 0; }
 div#prearea li           { float: left; border-right: 1px solid #f1f1f1; padding: 0px 10px; }
 div#prearea li.last      { border-right: none; }
 div#prearea li a         { color: #000; font-size: 10px; }

 div#gallery              { background: #eeeeee; width: 100%; margin-top: 20px;}
 div#gallery ul           { margin: 50px 0px; }
 div#gallery ul li        { background: #fff; padding: 10px; border: 1px solid #dcdcdc;
                            margin: 0px 17px 17px 0px; float: left; color: #484848; font-size: 11px; text-align: left; }

footer                    { height: 590px; background-image: url('/assets/footer.jpg'); background-position: center 0px; }

.signup                   { margin-top: 25px; }

#error_explanation h2     { font-size: 12px !important; }

.form-signin              { max-width: 400px; padding: 19px 29px 29px; margin: 0 auto 20px;
                            background-color: #fff; border: 1px solid #e5e5e5;
                            -webkit-border-radius: 5px; -moz-border-radius: 5px;
                            border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); box-shadow: 0 1px 2px rgba(0,0,0,.05);
                            text-align: left; }

.form-signin input[type="checkbox"] { margin-right: 10px; }

.form-signin input[type="email"],
.form-signin input[type="password"] { font-size: 16px; height: auto;
                                      margin-bottom: 15px; padding: 7px 9px;
                                    }

.modal                    { width: 700px !important; }



